
<div class="row footer">
    <div class="col"></div>
    <div class="col-mid-6">
        
        <a class="btn-lg btn-social-icon btn-facebook" href="https://www.facebook.com/jifu8858/">
            <span class="fa-stack fa-1x">
            <i class="fa fa-square fa-stack-1x" style="color: #3B5998;"></i>
            <i class="fa fa-facebook fa-stack-1x" style="color: #fff;"></i>
            </span>
            合力土木工程公司-集福工程行
        </a>
        
        <br>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        營業時段：7:30 - 19:00
        <br>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        地址 : 高雄市路竹區仁愛路55號 
        <br> 
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        手機 : 0960-990-509、0970-673-733
        <br>
        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
        傳真 : 07-6969110
        <br>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Mail : jifu8858@gmail.com
        <br>

    </div>
    <div class="col"></div>
</div>
