{% extends "base.html" %} 
{% block title %} 徵才資訊|集福工程行 {% endblock %} 
{% block content %} 
{% load staticfiles %}
<link href="{% static "css/style.css"%}" rel="stylesheet" type="text/css" />
<div class="hireInfo" style="margin:auto;">
    <h2 style="color:seagreen;font-weight:bold;font-family:Microsoft JhengHei;">加入我們</h2>
    <h3 style="text-shadow: 0.1em 0.1em 0.2em black;color:white">WELCOME TO JOIN US</h3>
    <hr style="width:100%">
    <p style="font-family:Microsoft JhengHei;">
        
        <span style="font-weight:bold;line-height:2">專業施工團隊(連工帶料、開挖、級配、磚材設計銷售）<br></span>
        <span style="font-weight:bold;line-height:2">對象：</span>一技之長需求者、待業中、二度就業者、新鮮人（無經驗可）<br>
        <span style="font-weight:bold;line-height:2">薪資：</span>1100 ~ 2800元 面試議（日薪）可日領 具駕照、領班另加給<br>
        <span style="font-weight:bold;line-height:2">徵才：</span>(需工作穩定)<br>
        &nbsp;&nbsp;1、泥作半技師傅<br>
        &nbsp;&nbsp;2、水平壓尺師傅<br>
        &nbsp;&nbsp;3、工程技術工<br>
        &nbsp;&nbsp;4、搬磚助手<br>
        <span style="font-weight:bold;line-height:2">員工福利：</span><br>
        &nbsp;&nbsp;1、享勞健保<br>
        &nbsp;&nbsp;2、制服<br>
        &nbsp;&nbsp;3、供午食、飲水、工作手套<br>
        &nbsp;&nbsp;4、激勵獎金<br>
        &nbsp;&nbsp;5、年節禮盒與員工聚餐<br>
        &nbsp;&nbsp;6、定期員工旅遊等<br>
        <span style="font-weight:bold;line-height:2">工作地點：</span>嘉義以南、台南、高雄至屏東   皆有非固定工地 <br>
        <span style="font-weight:bold;line-height:2">施工實例：</span>公家機關、學校、科學園區、公園、住宅大樓、別墅、庭院、田園⋯其他等。 <br>
        <span style="font-weight:bold;line-height:2">公司定期教育培訓工人、師傅，提升工作專業能力及薪資，全年工作飽滿、步道磚鋪設、圍牆磚施工</span><br>
        <span style="color:red;font-weight:bold;line-height:2;">歡迎來電詢問！</span><br>
    </p>
</div>

{% endblock %}