 {% extends "base.html" %} {% block title %} 服務項目|集福工程行 {% endblock %} {% block content %} {% load staticfiles %}
<link href="{% static "css/style.css"%}" rel="stylesheet" type="text/css" />
<div style="width:50%;margin:auto;">
<div class="row" >
    <div class="col" style="text-align:center;padding:5%;">
        <div class="card">
            <img class="card-img-top resize" src="{% static "images/service_img/type1.jpg"%}" alt="Not find picture" style="height:200px">
            <div class="card-body">
                <p class="card-text" style="font-family:Microsoft JhengHei;">高壓混凝土磚</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#1" style="font-size:10px;font-family:Microsoft JhengHei;">
                    了解詳情>>>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">高壓混凝土磚</h5>
                            </div>
                            <div class="modal-body">
                                高壓混凝土磚公告
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col" style="text-align:center;padding:5%;">
        <div class="card">
            <img class="card-img-top resize" src="{% static "images/service_img/type2.jpg"%}" alt="Not find picture" style="height:200px">
            <div class="card-body">
                <p class="card-text" style="font-family:Microsoft JhengHei;">連鎖磚</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#2" style="font-size:10px;font-family:Microsoft JhengHei;">
                    了解詳情>>>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">連鎖磚</h5>
                            </div>
                            <div class="modal-body">
                                連鎖磚公告
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col" style="text-align:center;padding:5%;">
        <div class="card">
            <img class="card-img-top resize" src="{% static "images/service_img/type3.jpg"%}" alt="Not find picture" style="height:200px">
            <div class="card-body">
                <p class="card-text" style="font-family:Microsoft JhengHei;">圍牆磚</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#3" style="font-size:10px;font-family:Microsoft JhengHei;">
                    了解詳情>>>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">圍牆(仿岩面)</h5>
                            </div>
                            <div class="modal-body">
                                <img src="{% static "images/service_img/type3_1.jpg"%}" class="img-thumbnail">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col" style="text-align:center;padding:5%;">
        <div class="card">
            <img class="card-img-top resize" src="{% static "images/service_img/type4.jpg"%}" alt="Not find picture" style="height:200px">
            <div class="card-body">
                <p class="card-text" style="font-family:Microsoft JhengHei;">植草磚</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#4" style="font-size:10px;font-family:Microsoft JhengHei;">
                    了解詳情>>>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">植草磚</h5>
                            </div>
                            <div class="modal-body">
                                植草磚公告
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col" style="text-align:center;padding:5%;">
        <div class="card">
            <img class="card-img-top resize" src="{% static "images/service_img/type5.jpg"%}" alt="Not find picture" style="height:200px">
            <div class="card-body">
                <p class="card-text" style="font-family:Microsoft JhengHei;">路緣石</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#5" style="font-size:10px;font-family:Microsoft JhengHei;">
                    了解詳情>>>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">路緣石</h5>
                            </div>
                            <div class="modal-body">
                                路緣石公告
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col" style="text-align:center;padding:5%;">
        <div class="card">
            <img class="card-img-top resize" src="{% static "images/service_img/type6.jpg"%}" alt="Not find picture" style="height:200px">
            <div class="card-body">
                <p class="card-text" style="font-family:Microsoft JhengHei;">界石</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#6" style="font-size:10px;font-family:Microsoft JhengHei;">
                    了解詳情>>>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{info.title}}</h5>
                            </div>
                            <div class="modal-body">
                                界石公告
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
</div>
{% endblock %}