{% extends "base.html" %} 
{% block title %} 工程相簿|集福工程行 {% endblock %} 
{% block content %} 
{% load staticfiles %}
<link href="{% static "css/style.css"%}" rel="stylesheet" type="text/css" />
<div class="subjectDiv" style="font-family: Microsoft JhengHei;text-align:center">
    <h2>{{title}}&nbsp;
    <span class="badge badge-light" style="font-size:14px">照片總數 : {{total}}</span>
    </h2><hr>
</div>
<div class="normalDiv" style="font-family: Microsoft JhengHei;text-align:center;font-size:18px">
    <p>
        <strong>拍攝地點</strong> : {{location}}<br>
        <!-- <strong>拍攝時間</strong> : {{monophoto.palbum.adate}} -->
    </p>
    <p><strong>內容</strong> : {{content}}</p>
</div>
<div class="rounded shadow-lg p-3 mb-5 bg-white"style="width:50%;margin:auto;border-style:groove;">
    <div class="row">
        {% for i in n %}
        <div class="col-sm-3" style="padding:3%">
            <a href="/testalbum/{{fileid}}/{{i}}/"><img class="album" style="border-radius: 10%;" src="{{STATIC_URL}}/static/images/{{fileid}}/image{{i}}.jpg" width="100%" border="0"/></a>
        </div>
        {% if forloop.counter|divisibleby:4 %}
        </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
<div style="width:50%;margin:auto;">
    <button class="btn btn-danger">
        <a href="/test/" style="color:white;font-weight:bold;font-family:Microsoft JhengHei">回上一頁</a>
    </button>
</div>


{% endblock %}